<div class="edit-user-page-container">

  <dir class="edit-user-profile-menu">
    <!--ACTIVITY OVERVIEW TAB -->
    <div class="profile-menu-btn underline" id="id-edit-user-activity-overview-tab">
      <p>Activity Overview</p>
    </div>

    <!--PROFILE TAB-->
    <div class="profile-menu-btn" id="id-edit-user-profile-tab">
      <p>Edit Profile</p>
    </div>

    <!--About you -->
    <div class="profile-menu-btn" id="about-you-tab">
      <p>About You</p>
    </div>
  </dir>

  <div class="tabs-format-width">
    <!--Activity Overview -->
    <div class="user-profile-tabs" style="display:block;" id="actid">
      <div class="edit-user eu-hide-form">
        <h2 class="page-header">Activity Overview</h2>
          <div class="edit-user-name-and-email">
            <p>Booker</p>
            <p>Lister</p>
          </div>
      </div>
    </div>
    <!--Profile Tab -->
    <div class="user-profile-tabs">
      <div class="edit-user" style="display:none;" id="euid">
        <div>
          <h2 class="page-header">Edit Profile</h2>
          <%= simple_form_for(@user) do |f| %>
            <%= f.error_notification %>
            <div class="details-container">

              <div class="edit-user-name-and-email">
                <%= f.input :first_name, input_html: {class: "input-bar"} %>
                <%= f.input :last_name, input_html: {class: "input-bar"}%>
                <%= f.input :email, required: true, autofocus: true, input_html: {class: "input-bar"} %>
                <%= f.input :address, required: false, input_html: {class: "input-bar"}%>
              </div>

              <div class="edit-user-address">
                <%= f.input :phone_number, input_html: {class: "input-bar"}%>
                <%= f.input :age, required: false, input_html: {class: "input-bar"} %>
                <%= f.input :gender, input_html: {class: "input-bar"}%>
                <%= f.input :id_document, required: false, input_html: {class: "input-bar"} %>
                <%= f.input :photo, input_html: { class: "input-bar" } %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
            </div>
        </div>

        <div class="details-container-two">
            <input type="submit" name="commit" value="Update" input_html="{&quot;class&quot;=>&quot;btn input-btn&quot;}" class="input-btn-ontop" data-disable-with="Update">
        </div>
        <% end %>
      </div>
    </div>


        <!--About You -->
      <div class="user-profile-tabs" style="display:none;" id="abyid">
        <div class="edit-user">
          <h2 class="">About You</h2>
          <div class="">
            <%= simple_form_for(@user) do |f| %>
              <%= f.error_notification %>
                <div class="details-container">
                  <div class="edit-user-name-and-email">
                    <p> Please give us a small description of you so other users know how awesome you are </p>
                    <%= f.input :description, length: 80, input_html: {class: "description-input-bar"} %>
                  </div>
                </div>
              </div>
              <div class="details-container-two">
                <input type="submit" name="commit" value="Update" input_html="{&quot;class&quot;=>&quot;btn input-btn&quot;}" class="input-btn-ontop" data-disable-with="Update">
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<script>
  editProfileTab = document.getElementById("id-edit-user-profile-tab");
  activitiesTab = document.getElementById("id-edit-user-activity-overview-tab");
  aboutYouTab = document.getElementById("about-you-tab");
  editProfileBox = document.getElementById("euid");
  activitiesBox = document.getElementById("actid");
  aboutYouBox = document.getElementById("abyid");

  editProfileTab.addEventListener("click", function() {
    editProfileTab.classList.add("underline")
    activitiesTab.classList.remove("underline")
    aboutYouTab.classList.remove("underline")
    editProfileBox.style.display = "block"
    activitiesBox.style.display = "none"
    aboutYouBox.style.display = "none"

  });
  activitiesTab.addEventListener("click", function() {
    editProfileTab.classList.remove("underline")
    activitiesTab.classList.add("underline")
    aboutYouTab.classList.remove("underline")
    aboutYouBox.style.display = "none"
    activitiesBox.style.display = "block"
    editProfileBox.style.display = "none"
  });
  aboutYouTab.addEventListener("click", function() {
    aboutYouTab.classList.add("underline")
    editProfileTab.classList.remove("underline")
    activitiesTab.classList.remove("underline")
    aboutYouBox.style.display = "block"
    activitiesBox.style.display = "none"
    editProfileBox.style.display = "none"
  });
</script>
